{
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "jsdocPrintWidth": 100,
  "plugins": ["prettier-plugin-jsdoc"],
  "printWidth": 100,
  "quoteProps": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "tsdoc": true,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    }
  ]
}
